---
import { CONFIG } from "@config";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
---

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{CONFIG.title}</title>
    </head>
    <body>
        <div id="layout">
            <Header />
            <main>
                <slot />
            </main>
            <Footer />
        </div>
    </body>
</html>

<style>
    body {
        @apply text-gray-200 bg-gradient-to-br from-zinc-900 from-30% to-blue-950;
    }
    #layout {
        @apply min-h-screen flex flex-col mx-auto px-10 lg:max-w-5xl;
    }
    main {
        @apply grow;
    }
</style>
