---
import { CONFIG } from "@config";
---

<header class="sticky z-10 py-10">
    <nav>
        <a href="/" class="logo">
            <h1>{CONFIG.title}</h1>
        </a>
        <div class="nav-items">
            <a href="/posts" class="menu-item"> Posts</a>
            <a href="/tags" class="menu-item"> Tags</a>
        </div>
        <button id="menu-button">hoge</button>
        <!-- <button
            class="hamburger-menu"
            aria-label="Open Menu"
            aria-expanded="false"
            aria-controls="menu-items"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="menu-icon"
            >
                <line x1="7" y1="12" x2="21" y2="12" class="line"></line>
                <line x1="3" y1="6" x2="21" y2="6" class="line"></line>
                <line x1="12" y1="18" x2="21" y2="18" class="line"></line>
                <line x1="18" y1="6" x2="6" y2="18" class="close"></line>
                <line x1="6" y1="6" x2="18" y2="18" class="close"></line>
            </svg>
        </button> -->
    </nav>
</header>

<style>
    nav {
        @apply flex gap-x-12;
    }
    nav .nav-items {
        @apply hidden sm:flex gap-x-12;
    }
    .menu-item {
        @apply text-lg font-semibold leading-6;
    }
    .logo {
        @apply grow text-2xl font-bold sm:text-3xl;
    }
    #menu-button {
        @apply sm:hidden bg-green-400 hover:bg-green-700;
    }
</style>

<script>
    const menuBtn = document.getElementById("menu-button");
    // const menuBtn = document.querySelector(".hamburgermenu");
    // const menuIcon = document.querySelector(".menu-icon");
    //   const menuItems = document.querySelector("#menu-items");

    menuBtn?.addEventListener("click", () => {
        console.log("clicked");
    });

    // menuBtn?.addEventListener("click", () => {
    //     const menuExpanded = menuBtn.getAttribute("aria-expanded") === "true";
    //     menuIcon?.classList.toggle("is-active");
    //     menuBtn.setAttribute("aria-expanded", menuExpanded ? "false" : "true");
    //     menuBtn.setAttribute(
    //         "aria-label",
    //         menuExpanded ? "Open Menu" : "Close Menu"
    //     );
    //     // menuItems?.classList.toggle("display-none");
    // });
</script>
