---
import { CONFIG } from "@config";
---

<header>
    <a href="/" class="logo">
        <h1>{CONFIG.title}</h1>
    </a>
    <nav>
        <button id="menu-button">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="menu-icon"
            >
                <line x1="7" y1="12" x2="21" y2="12" class="line"></line>
                <line x1="3" y1="6" x2="21" y2="6" class="line"></line>
                <line x1="12" y1="18" x2="21" y2="18" class="line"></line>
                <line x1="18" y1="6" x2="6" y2="18" class="close"></line>
                <line x1="6" y1="6" x2="18" y2="18" class="close"></line>
            </svg>
        </button>
        <div id="menu" class="hidden">
            <ul class="nav-item-list">
                <li class="menu-item">
                    <a href="/posts">Posts</a>
                </li>
                <li class="menu-item">
                    <a href="/tags">Tags</a>
                </li>
                <li class="menu-item">
                    <a href="/search">Search</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<style>
    header {
        @apply sticky z-10 flex my-10 md:flex;
    }
    nav {
        @apply flex w-full flex-col gap-x-12 mt-auto md:w-fit;
    }

    .logo {
        @apply absolute grow my-auto text-2xl font-bold sm:text-3xl md:static;
    }
    .nav-item-list {
        @apply flex flex-col gap-x-12 gap-y-4 bg-gray-800 py-8 my-5 rounded-3xl md:flex-row md:py-0 md:bg-inherit;
    }
    .menu-item {
        @apply text-xl font-semibold text-center md:pt-0;
    }
    .menu-icon {
        @apply inline-block w-9 h-9 stroke-current;
    }
    .menu-icon line {
        @apply transition-opacity duration-75 ease-in-out;
    }
    .menu-icon .close {
        opacity: 0;
    }
    .menu-icon.is-active .line {
        @apply opacity-0;
    }
    .menu-icon.is-active .close {
        @apply opacity-100;
    }

    #menu-button {
        @apply rounded-lg self-end md:hidden;
    }
    #menu {
        @apply max-w-md w-full self-center md:flex;
    }
</style>

<script>
    const menuBtn = document.getElementById("menu-button");
    const menuIcon = document.querySelector(".menu-icon");
    const menu = document.getElementById("menu");

    menuBtn?.addEventListener("click", () => {
        menuIcon?.classList.toggle("is-active");
        menu?.classList.toggle("hidden");
    });
</script>
