---
import type { CollectionEntry } from "astro:content";
import Card from "./Card.astro";

export interface Props {
    posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
const year = posts[0].data.publicDate.getFullYear();
---

<li class="my-6">
    <div class="flex flex-col sm:flex-row gap-6">
        <h3 class="w-1/6 text-2xl sm:text-3xl font-extrabold">{year}</h3>
        <ul>
            {posts.map((post) => <Card post={post} />)}
        </ul>
    </div>
</li>
