---
import PostsPerYear from "./PostsPerYear.astro";
import getSortedPosts from "@utils/getSortedPosts";
import type { CollectionEntry } from "astro:content";

export interface Props {
    title: string;
    posts: CollectionEntry<"blog">[];
}

let { title, posts } = Astro.props;

const groupedPosts: Map<number, CollectionEntry<"blog">[]> = new Map();
posts.forEach((post) => {
    let year = post.data.publicDate.getFullYear();
    let hoge: CollectionEntry<"blog">[] = groupedPosts.get(year) || [];
    hoge.push(post);
    groupedPosts.set(year, hoge);
});
const nya = Array.from(groupedPosts.values());
---

<h2 class="text-3xl font-bold my-10 sm:text-5xl">{title}</h2>
<ul>
    {nya.map((piyo) => <PostsPerYear posts={piyo} />)}
</ul>
